{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/doll squid game.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Jogo da Memória | Cadastro</title>
</head>
<body>
    <form class="register_form" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="register_header">
            <img src="{% static 'images/squid-game-gf5aa0a0b5_1280.png' %}" alt="game icon">
            <h1>Cadastre-se</h1>
        </div>

        <input type="text" placeholder="Nome de Usuário" class="register_input" name="username" required>
        <input type="password" placeholder="Senha" class="register_input" name="password" required>
        <input type="password" placeholder="Confirme a Senha" class="register_input" name="password_confirm" required>

        <button type="submit" class="register_button">Cadastrar</button>

        <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui</a></p>

        {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p class="{% if 'error' in message.tags %}error-message{% else %}success-message{% endif %}">
                {{ message }}
            </p>
        {% endfor %}
    </div>
{% endif %}
    </form>
</body>
</html>
